<% @posts.each do |post| %>

  <div class="post">
    <div id="post-id"><%= post.id %></div>
    <div id="post-body">
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
    </div>
  </div>
<% end %>

<%= link_to 'Новая заметка', new_post_path %>

