body {
  margin: 0px;
  padding: 0px;
}

#upper {
  height: 45px;
  background-color: #d4e2f7;
}

.index {
  margin-top: 30px;
}

.post {
  min-height: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  h4 {
    color: RGB(0,0,255);
    font-size: 0.9em;
  }
}

.post-id {
  display: inline-block;
  padding: 0px 20px;
  color: gray;
}

#post-body {
  display: inline-block;
}

#img {
    margin-top: 2px;
    margin-right: 5px;
}

#new-link {
  margin-left: 20px;
}

.title-bottom {
  font-size: 0.7em;
  display: inline-block;
}


