.post-show {
  width: 1056px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    margin-top: 20px;
    text-align: justify;
    width: 960px;
  }
}

.post {
  min-height: 54px;
  padding-bottom: 7px;
  margin-left: 10px;
  h4 {
    color: RGB(0,0,255);
    font-size: 1.1em;
  }
}

.post-id {
  display: inline-block;
  vertical-align: top;
  padding: 17px 0px 0px 5px;
  color: #c6c6c6;
  min-width: 20px;
}

.post-image {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  width: 70px;
  max-height: 70px;
  img::before {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
  }
  img {
    max-height: 70px;
  }
}

.post-body {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 5px;
  width: 88%;
}


#post-title {
  font-weight: 600;
  a {
    color: #888;
  }
}

.post-title {
  color: #888;
  span {
    font-size: 0.8em;
    padding-right: 5px;
  }
}

