// Place all the styles related to the vote_tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}

.vote-attribute {
  height: 18px;
  font-size: 0.9em;
  font-weight: bold;
  color: #c6c6c6;
  text-align: center;
}
