<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="all-content">
      <div id="nav">
        <span>MY SUBREDDITS</span>
        <span>HOME</span>
        -
        <span>POPULAR</span>
        -
        <span>ALL</span>
        -
        <span>RANDOM</span>
        |   |
        <span>ASKREDDIT</span>
        -
        <span>WORLDNEWS</span>
        -
        <span>FUNNY</span>
        -
        <span>VIDEOS</span>
        -
        <span>PICS</span>
        -
        <span>NEWS</span>
        -
        <span>GIFS</span>
        -
        <span>TODAYILERNES</span>
        -
        <span>AWW</span>
        -
        <span>GAMING</span>
        -
        <span>MOVIES</span>
        -
        <span>SHOWERTHOUGHTS</span>
        -
        <span>JOKES</span>
        -
        <span>FUTUROLOGY</span>
        -
        <span>SCIENCE</span>
        -
        <span>TELEVISION</span>
        -
        <span>TWOXCHROMOSOMES</span>
        -
        <span>OLDSCHOOLCOOL</span>
        -
        <span>DATAISBEAUTIFUL</span>
        -
        <span>NOTTHEONION</span>
        -
        <span>LIFEPROTIPS</span>
        -
        <span>IAMA</span>
      </div>
      <div id="upper">
        <img id="img" src="https://b.thumbs.redditmedia.com/-KIq1WArgXPnB02N493dZuaRlH_Q_ypFC7S5PQ3I9wE.png" width="120" height="40">
        <div class="input">
          <span>log in</span>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
