<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="upper">
      <img id="img" src="https://b.thumbs.redditmedia.com/-KIq1WArgXPnB02N493dZuaRlH_Q_ypFC7S5PQ3I9wE.png" width="120" height="40">
    </div>

    <%= yield %>
  </body>
</html>
